// Color and setting the blog basic pages
@use "color";


@media screen {
    html {
        background-color: color.$main-light;
        color: color.$font-color;
        size: 16px;
    }

    @media (min-width: 600px) {
        body {
            width: 600px;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
    }
    body {
        color: color.$font-color;
    }
    h1 {
        size: 1.6rem;
        font-weight: bold;
    }
    h2 {
        size: 1.2rem;
        font-weight: bold;
    }
    h3, h4, h5, h6 {
        size: 1rem;
        font-weight: bold;
    }
}
