// builtins colors we can refer to via name

// table and font colors
$bg-color : #FFF5E6;    // color used for background of webpage
$body-color: #ffebcd;   // color originally used for body test
$code-color: #E8D7AE;   // color used for code blocks
$font-color: #453620;   // a dark brown color used for text

// color scheme as generated
// it's a set of contracts 
$dark-blue: #354262; // 
$blue: #AEC0E8;
$dark-purple: #71659C; // #453D62
$purple: #B2A2E8;
$dark-green: #84989C;
$green: #BAE0E8;
$redpink: #E8A2C0;
$cobalt: #97B0E8;
$lightgreen: #C5E8C7;
$darkred: #5E3F4C;

// diagram colors
// these are all colors that were used by generated diagams

$diagram-dark-blue: #6B94B3;
$diagram-blue: #CCE9FF;
$diagram-dark-purple: #7D7FB3;
$diagram-purple: #BFC2FF;
$diagram-dark-green: #A1B3B1;
$diagram-green: #D9FFFB;
$diagram-brown: #806640;
$diagram-light-brown: #E8D7AE;
