html {
    background-color: #edd9be;
}

$bodycolor : #C9A761; // #C9A761, #B3915F
$codeprecolor: #B3915F;

body {
    background-color: $bodycolor;
    min-width: 60%;
    width: 600px;
    max-width: 80%;

    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    
    border-radius: 1rem;
}

section {
    margin-left: 0.5rem; /*Add extra to interior*/
}
section > * {
    margin-left: 0.5rem;
}

section > h3 {
    margin-left: 0;
}

hr {
    background-color: #daa520;
    border-color:goldenrod;
    border-left: 0px;
    border-right: 0px;
}

pre {
    font-size: 16;
    border-radius: 1rem;
    border-width: 5px;
    background-color: $codeprecolor;
    border-color: $codeprecolor;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section.sectiondiv {
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}

section.sectiondiv > p {
    margin: 0;
    margin-left: 1rem;
}
/*
.z-code {
 color: #c0c5ce;
 background-color: #2b303b;
}
*/
pre > code > * {
    font-size: 1.1rem;
}
.z-code {
    color: #19364D; // #224966;
}
.z-variable.z-parameter.z-function {
 color: #19364D;
}
.z-comment, .z-punctuation.z-definition.z-comment {
    font-style: italic;
    color: #5E7D95;
}
.z-punctuation.z-definition.z-string, .z-punctuation.z-definition.z-variable, .z-punctuation.z-definition.z-string, .z-punctuation.z-definition.z-parameters, .z-punctuation.z-definition.z-string, .z-punctuation.z-definition.z-array {
 color: #c0c5ce;
}

//# CCAD2F
.z-punctuation.z-definition.z-string {
    color: #CCAD2F;
}

.z-support.z-function.z-echo {
    color: #224966;
}
.z-none {
 color: #c0c5ce;
}
.z-keyword.z-operator {
 color: #19364D;
}
.z-keyword {
    font-weight: bold;
    color: #224966;
}
.z-variable {
 color: #19364D;
}

.z-variable.z-parameter {
    color: #19364D;
    font-style: italic;
}
.z-entity.z-name.z-function {
//  font-weight: bold;
 color: #81ABCC;
}
.z-entity.z-name.z-struct, .z-entity.z-name.z-type,z.entity.z-name.z-class {
    color: #81ABCC;
    font-weight: bold;
}

// .z-support.z-class, .z-entity.z-name.z-class, .z-entity.z-name.z-type.z-class {
//  color: #ebcb8b;
//  font-weight: bold;
// }
// .z-meta.z-class {
//  color: #eff1f5;
// }
// .z-keyword.z-other.z-special-method {
//  color: #e16049;
// }
.z-storage {
 color: #224966;
 font-weight: bold;
}
.z-support.z-function {
 color: #19364D;
}
// .z-string, .z-constant.z-other.z-symbol, .z-entity.z-other.z-inherited-class {
//  color: #84B370;
// }
.z-string {
    color: #7E801D; //#84B370;
}

.z-constant.z-other.z-symbol {
    color: #84B370;
    font-weight: bold;
}

.z-constant.z-numeric {
 color: #CCAD2F;
}

.z-entity.z-name.z-tag {
 color: #19364D;
 font-weight: bold;
}
.z-entity.z-other.z-attribute-name {
 color: #19364D;
 font-style: italic;
}
.z-entity.z-other.z-attribute-name.z-id, .z-punctuation.z-definition.z-entity {
 color: #19364D;
 font-style: italic;
}
.z-meta.z-selector {
 color: #b48ead;
}
.z-none {
 color: #d08770;
}
.z-markup.z-heading .z-punctuation.z-definition.z-heading, .z-entity.z-name.z-section {
 color: #8fa1b3;
}
.z-keyword.z-other.z-unit {
 color: #19364D;
}
.z-markup.z-bold, .z-punctuation.z-definition.z-bold {
 color: #ebcb8b;
font-weight: bold;
}
.z-markup.z-italic, .z-punctuation.z-definition.z-italic {
 color: #b48ead;
font-style: italic;
}
.z-markup.z-raw.z-inline {
 color: #a3be8c;
}
.z-string.z-other.z-link {
 color: #bf616a;
}
.z-meta.z-link {
 color: #d08770;
}
.z-markup.z-list {
 color: #bf616a;
}
.z-markup.z-quote {
 color: #d08770;
}
.z-meta.z-separator {
 color: #c0c5ce;
 background-color: #4f5b66;
}
.z-markup.z-inserted, .z-markup.z-inserted.z-git_gutter {
 color: #a3be8c;
}
.z-markup.z-deleted, .z-markup.z-deleted.z-git_gutter {
 color: #bf616a;
}
.z-markup.z-changed, .z-markup.z-changed.z-git_gutter {
 color: #b48ead;
}
.z-markup.z-ignored, .z-markup.z-ignored.z-git_gutter {
 color: #4f5b66;
}
.z-markup.z-untracked, .z-markup.z-untracked.z-git_gutter {
 color: #4f5b66;
}
.z-constant.z-other.z-color {
 color: #96b5b4;
}
.z-string.z-regexp {
 color: #96b5b4;
}
.z-constant.z-character.z-escape {
 color: #96b5b4;
}
.z-punctuation.z-section.z-embedded, .z-variable.z-interpolation {
 color: #ab7967;
}
.z-invalid.z-illegal {
 color: #2b303b;
 background-color: #bf616a;
}
.z-markup.z-deleted.z-git_gutter {
 color: #f92672;
}
.z-markup.z-inserted.z-git_gutter {
 color: #a6e22e;
}
.z-markup.z-changed.z-git_gutter {
 color: #967efb;
}
.z-markup.z-ignored.z-git_gutter {
 color: #565656;
}
.z-markup.z-untracked.z-git_gutter {
 color: #565656;
}