$bg-color : #FFF5E6;
$body-color: #ffebcd;
$code-color: #E8D7AE;
$font-color: #453620;

$dark-blue: #354262; // #354262
$blue: #AEC0E8;
$dark-purple: #71659C; // #453D62
$purple: #B2A2E8;
$dark-green: #84989C;
$green: #BAE0E8;
$redpink: #E8A2C0;
$cobalt: #97B0E8;
$lightgreen: #C5E8C7;
$darkred: #5E3F4C;

// diagram colors

$diagram-dark-blue: #6B94B3;
$diagram-blue: #CCE9FF;
$diagram-dark-purple: #7D7FB3;
$diagram-purple: #BFC2FF;
$diagram-dark-green: #A1B3B1;
$diagram-green: #D9FFFB;
$diagram-brown: #806640;
$diagram-light-brown: #E8D7AE;

html {
    background-color: $bg-color;
    color: $font-color;
}

a {
    color: #596771;
    font-weight:bold;
}

img {
    display:block;
    margin: 0 auto;
    width: 30%;
}

body {
    background-color: $body-color;
    min-width: 60%;
    width: 600px;
    max-width: 80%;

    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    
    border-radius: 1rem;
}

section {
    margin-left: 0.5rem; /*Add extra to interior*/
}
section > * {
    margin-left: 0.5rem;
}

section > h3 {
    margin-left: 0;
}

hr {
    background-color: goldenrod;
    border-color:goldenrod;
    border-left: 0px;
    border-right: 0px;
}

pre {
    border-radius: 1rem;
    border-width: 5px;
    border-color: #2b303b;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

blockquote {
    padding: 0.3rem 1rem;
    margin: 0;
    margin-left: 1.5rem;
    border-left: 3px solid $font-color;
    font-style: italic;
}

section.sectiondiv {
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}

section.sectiondiv > p {
    margin: 0;
    margin-left: 1rem;
}

code {
    background-color: $code-color;
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
}

pre,pre>code {
    background-color: $code-color;
    color: $dark-blue;
    font-size: 1rem;
    line-height: 1.3rem;
}

.z-keyword, .z-type, .z-storage {
    color:$dark-green;
    font-weight: bold;
}

.z-string, .z-string  {
    color:#444A42;
}

.z-entity.z-name.z-class, .z-entity.z-name.z-struct {
    font-weight: bold;
    color: $dark-purple;
}

.z-entity.z-name.z-function {
    color:#5E3F4C;
    font-weight: bold;
}

.z-support.z-function {
    color:#5E3F4C;
}

.z-keyword.z-operator {
    color: $dark-blue;
    font-weight: bold;
}

// .z-constant {
//     color:$dark-green;
//     font-weight: bold;
// }

.z-constant.z-numeric, .z-numeric {
    color: #5E3F4C;
}

.z-comment {
    color: #5E4A2B;
    font-style: italic;
}