<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    {% block head %}
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x23.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-192x192.png">
    <link rel="manifest" href="/manifest.json">

    {% block rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}

    <title>
        {% block title %}
        Placeholder Title
        {% endblock title %}
    </title>
    {% endblock head %}
</head>

<body>
    <p><a href="/">the jenny jam blog</a></p>
    {% block content %}
    <p>Placeholder Content</p>
    {% endblock content %}
    <footer>
        {% block footer%}
        {% endblock footer%}
        <hr>
        <p><i> Built with <a href="https://www.getzola.org/">Zola. </i></a></p>
        <p><i>Favicons sourced from <a href="https://github.com/twitter/twemoji">Twemoji</a> 
            licensed under <a href="ttps://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>.</i></p>
    </footer>
</body>

</html>