<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    {% block head %}
    <link rel="stylesheet" href="/style.css">
    <title>
        {% block title %}
        Placeholder Title
        {% endblock title %}
    </title>
    {% endblock head %}
</head>

<body>
    <header>
        <h1 class="header"><a href="/">Jenny Jams</a></h1>
        {% block header %}
        {% endblock header %}
    </header>
    {% block content %}
    <p>Placeholder Content</p>
    {% endblock content %}
    <footer>
        {% block footer%}
        {% endblock footer%}
    </footer>
</body>

</html>