{% extends "base.html" %}

{% block title %}
{{section.title}}
{% endblock title%}

{% block header%}
<nav>
    <ul class="nav-path">
        <li class="nav-item"></li>
    </ul>
</nav>
{% endblock header %}

{% block content %}
    {{ section.content | safe }}

    <h2>Sections</h2>
    {% for secstr in section.subsections %}
        
        <section class="sectiondiv">
            {% set sec = get_section(path=secstr) %}
            <h2><a href = "{{sec.permalink}}">{{sec.title}}</a></h2>
            <p>{{ sec.description }}</p>
        </section>
    {% endfor %}

{% endblock content%}

