{% extends "base.html" %}
{% block title %}
  {{page.title}}
{% endblock title%}

{% block header %}
  <nav>
  <ul class="nav-path">
    {% if page.components | length == 0 %}
        <li class="nav-item"></li>

    {% else  %}
        {% for ancestor_path in page.ancestors %}
            {% if loop.first %}
                {% continue %}
            {% endif %}

            {% set ancestor = get_section(path=ancestor_path) %}
            <li class="nav-item"><a href="{{ancestor.permalink}}">{{ancestor.components | last }}</a></li>
        {% endfor %}
    
        <li class="nav-item"><a href="{{page.permalink}}">{{page.components | last}}</a></li>
    
    {% endif %}
  </ul>
  </nav>
{% endblock header %}


{% block content %}
    {{page.content | safe }}
{% endblock content %}