{% extends "base.html" %}

{% block title %}
    {{section.title}}
{% endblock title %}

{% block content %}
    {{section.content | safe}}

    {% for page in section.pages %}
        <section>
            <h3>{{ page.title }}</h3>
            <p>
                {{ page.description }}
                <br>
                <a href="{{page.path}}">permalink</a>
            </p>
            {% if not loop.last %}
                <hr>
            {% endif %}
        </section>
    {% endfor %}
{% endblock content%}