{% extends "base.html" %}

{% block title %}
    {{section.title}}
{% endblock title %}

{% block header %}
  <nav>
  <ul class="nav-path">
    {% for ancestor_path in section.ancestors %}
    {% if loop.index == 1 %}
        {% continue %}
    {% endif %}
    {% set ancestor = get_section(path=ancestor_path) %}
    <li class="nav-item"><a href="{{ancestor.permalink}}">{{ancestor.title}}</a></li>
    {% endfor %}
    <li class="nav-page"><a href="{{section .permalink}}">{{section.title}}</a></li>
  </ul>
  </nav>
{% endblock header %}

{% block content %}
    {{section.content | safe}}

    {% for page in section.pages %}
        <section class="sectiondiv">
            <h2><a href="{{page.permalink}}"> {{ page.title | safe }} </a> </h2>
            <p>
                <i>{{page.date}}</i>
                <br>
                {{ page.description | safe }}
            </p>
        </section>
    {% endfor %}
{% endblock content%}